/TodoApp/.vs/
/TodoApp/TodoApp.Model/obj/
/TodoApp/TodoApp.Model/bin/
/TodoApp/TodoApp.Service/bin/
/TodoApp/TodoApp.Service/obj/
/TodoApp/TodoApp.WebApi/bin/
/TodoApp/TodoApp.WebApi/obj/Debug/
/TodoApp/TodoApp.WebApi/obj/
/TodoApp/TodoApp.Test/bin/
/TodoApp/TodoApp.Test/obj/
/TodoApp/TodoApp.BlazorServer/bin/
/TodoApp/TodoApp.BlazorServer/obj/
/TodoApp/TodoApp.WebApi/todos.db
