@page "/Todo/Create"
@using TodoApp.BlazorServer.Configuration
@inject ITodoService _todoService
@inject NavigationManager _Nav
<h1>Create Todo</h1>

@if (isError)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Something went wrong!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<EditForm Model="todoDto" OnValidSubmit="HandleTodoCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="exampleInputEmail1">Subject</label>
        <input type="text" class="form-control" @bind-value="todoDto.Subject" />
    </div>
    <br/>
    <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <textarea class="form-control" rows="3" @bind="todoDto.Description" />
    </div>
    <br />
    <div class="form-group">
        <label for="exampleFormControlSelect1">Status</label>
        <select class="form-control" id="exampleFormControlSelect1" @bind="todoDto.Status">
            <option value="">Unmarked</option>
            <option value="Done">Done</option>
            <option value="Canceled">Canceled</option>
        </select>
    </div>

    <br />
    
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>


@code {
    private TodoDto todoDto = new TodoDto();
    private bool isError = false;

    protected async Task HandleTodoCreate()
    {
        isError = false;
        string apiUrl = ApiEndpoint.AddTodoEndpoint;

        var IsSuccess = await _todoService.Create(apiUrl, todoDto);
        if (IsSuccess)
        {
            _Nav.NavigateTo("/Todo/List");
        }
        else
        {
            isError = true;
        }
    }
}